{% extends "basepage.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content%}
<h1> {{ title }} </h1>

<form method="post">
    <input type="hidden" name="next" value="{{ next }}" />
    <h1 class="messages">{{ form.non_field_errors }}</h1>
    {% for f in form %}
        <p>
            <label for="{{ f.id_for_label }}">{{ f.label }}:</label>
            <br>
            {{ f }}
            <h1 class="messages">{{ f.errors }}</h1>
        </p>
    {% endfor %}
    <button type="submit">Войти</button>
    {% csrf_token %}
</form>

{% endblock %}