<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <style>
        a {font-size: 120%}
        .menu_bar {
            background-color: DeepSkyBlue;
            }
        #ul_top_hypers li{
            display: inline;
            }
        .cls {
            color: green;
            background-color: blue;
            text-decoration: none;
        }
        table { border-collapse: collapse }
        td {
            border: 1px solid black;
            font-size: 130%
        }
        body { background-color: LightSkyBlue }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="menu_bar">
    <ul id="ul_top_hypers">
        <li> <a class="{% if page == '/home' %} cls {% endif %}" href="{% url 'home' %}">Главная</a></li>
        <li> <a class="{% if page == '/notes' %} cls {% endif %}" href="{% url 'notes' %}">Заметки</a></li>
        <li> <a class="{% if page == '/add_note' %} cls {% endif %}" href="{% url 'add_note' %}">Добавить заметку</a></li>
    </ul>
</div>
{% block content%}

{% endblock %}
</body>
</html>